:root {
  --react-toastic-zindex: 999999;
  --react-toastic-shadow: 0 4px 4px rgba(57, 58, 55, 0.16);
  --react-toastic-color-white: #FFFFFF;
  --react-toastic-color-black: #393A37;
  --react-toastic-color-grey: #6A6B69;
  --react-toastic-color-purple: #3f0075;
  --react-toastic-color-gradient:  linear-gradient(90.69deg, rgb(240 225 255 / 56%) -18.32%, rgba(240, 225, 255, 0.35) 101.57%);
  --react-toastic-color-grey-light: #E1E1E1;
  --react-toastic-color-red-dark: #71192F;
  --react-toastic-color-red-base: #EF665B;
  --react-toastic-color-red-light: #fef7f3;
  --react-toastic-color-yellow-dark: #755118;
  --react-toastic-color-yellow-base: #F7C752;
  --react-toastic-color-yellow-light: #fffdf2;
  --react-toastic-color-blue-dark: #0C2A75;
  --react-toastic-color-blue-base: #509AF8;
  --react-toastic-color-blue-light: #effaff;
  --react-toastic-color-green-dark: #2B641E;
  --react-toastic-color-green-base: #84D65A;
  --react-toastic-color-green-light: #f6fcee;
}
